<!DOCTYPE html>
<html ng-app="ttn-rec">
  <head>
    <meta charset="utf-8">
    <title>TTN-REC</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/popeye.min.css">

  </head>
  <body>

    <div class="container" ng-controller="main">
      <div class="row">
        <img src="/favicon.ico" align="left">
        <h3>ttn-rec</h3>
      </div>
      <div class="row">
        <div class="twelve columns">
          <button ng-click="start()" style="background:#FFCACA;">GRABATZEN HASI</button>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
        <h4>Martxan</h4>
          <div ng-repeat="recorder in recorders | status:'recording'">
            <span style="font-size:xx-large;color:#999;">{{recorder.timer}}</span>
            <button class="u-pull-right" ng-click="stop(recorder)">STOP</button>
            <hr>
          </div>
        </div>
        <div class="six columns">
          <h4>Eginda</h4>
          <div ng-repeat="recorder in recorders | status:'stopped' | orderByDate">
            <a class="button button-primary" ng-href="/rec/{{recorder.id}}">DOWNLOAD</a>
            <a class="button button-primary" ng-click="openModal(recorder)">UPLOAD</a>
            <span>{{recorder.stopDate | amCalendar }}</span>
            <span style="color:#999;">{{recorder.duration()}}</span>
            <button class="u-pull-right" ng-click="delete(recorder)">ezabatu</button>
            <hr>
          </div>
        </div>
      </div>
    </div>


    <script src="/angular.min.js"></script>
    <script src="/moment.min.js"></script>
    <script src="/moment.eu.js"></script>
    <script src="/angular-moment.min.js"></script>
    <script src="/popeye.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
