<h4>UPLOAD</h4>
<form ng-submit="upload()" name="uploadForm">
  <div class="form-group">
    <label>Aukeratu irratsaioa (kontuz!)</label>
    <select
     style="width:100%;"
     required
     ng-model="post.irratsaioa"
     ng-options="irratsaioa as irratsaioa.title for irratsaioa in irratsaioak | orderBy:'title'">
      <option value="">--- Aukeratu ---</option>
    </select>
  </div>
  <div class="form-group">
    <label>Izenburua</label>
    <input style="width:100%;" type="text" name="izenburua" ng-model="post.izenburua">
  </div>
  <div class="form-group">
    <label>Testua</label>
    <textarea style="width:100%;" name="testua" ng-model="post.testua"></textarea>
  </div>
  <div class="form-group">
    <label>Etiketak (komaz banatuta)</label>
    <input style="width:100%;" type="text" name="etiketak" ng-model="post.etiketak">
  </div>
  <div class="form-group">
    <label>
      <input type="checkbox" ng-init="post.publikatu=true" ng-model="post.publikatu" name="publikatu"> Publikatu berehala
    </label>
  </div>
  <input type="submit" class="button button-primary" style="width:100%;" value="UPLOAD!">
</form>
